body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#4b0082, #12001f);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0 0 30px #c000ff;
}

.shop-button {
  margin-top: 40px;
  padding: 30px 100px;
  background: purple;
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0 40px violet;
}

.shop-button:hover {
  transform: scale(1.1);
}

p {
  color: white;
  font-size: 25px;
}
