body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#5b00a8, #150020);
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 60px;
  text-shadow: 0 0 25px #d000ff;
}

.shop-button {
  margin-top: 40px;
  padding: 25px 80px;
  font-size: 40px;
  color: white;
  background: purple;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: 0 0 30px violet;
}
